xsd/loggerXSD/logger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Log">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ServiceName" type="xs:string"/>
                <xs:element name="Status" type="xs:string"/>
                <xs:element name="Code" type="xs:string"/>
                <xs:element name="Message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>